[PythonCoverage]

# The path to the empty coverage.py data file
emptydatafile.path=/var/opt/spacewalk-xmlrpc-tests/coverage/python.coverage.empty.datafile

# The path to the coverage.py data file used during collecting
datafile.path=/var/opt/spacewalk-xmlrpc-tests/coverage/python.coverage.datafile

# The path to the Python lib extending the base python PATH
lib.path=/opt/spacewalk-xmlrpc-tests/coverage/python_lib

# The path to the Httpd's WSGI configuration file
wsgi.conf.path=/etc/httpd/conf.d/zz-spacewalk-server-wsgi.conf

# The path to the WSGI handler of the XML-RPC requests
wsgi.handler.xmlrpc.path=/opt/spacewalk-xmlrpc-tests/coverage/python_lib/spacewalkcoverage/wsgi/xmlrpc.py
