[global]

# The host of the Spacewalk server without scheme (protocol)
#
# Example for http://spacewalk.example.com/:
#   host: spacewalk.example.com
host=localhost

# The login to the administrator account
login=admin

# The password to the administrator account
password=redhat

# The Spacewalk version
version=1.2
